{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{{ 'component-collection-filter.css' | asset_url | stylesheet_tag }}

{%- liquid
     assign price_range_active = false
     assign has_filters = false
     assign total_active_values = 0
-%}


<div class="filter-wrapper {% if class %}{{ class }}{% else %}page-content{% endif %} facets-container">
     <facet-filters-form class="facets">
          <form id="FacetFiltersForm" class="">
               {%- if results.terms -%}
                    <input type="hidden" name="q" value="{{ results.terms | escape }}">
                    <input name="options[prefix]" type="hidden" value="last">
               {%- endif -%}

               {% if results.current_vendor or results.current_type %}
                    <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
               {% endif %}
               
               <div id="FacetsWrapperDesktop" class="filter-option-wrapper">               
                    {%- for filter in results.filters -%}
                         {%- unless filter.values.size <= 1 -%}
                              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                              {%- assign has_filters = true -%}
                              {% case filter.type %}
                                   {% when 'list' %}
                                        {% if filter.label == "Price Range" %}
                                        {%- liquid
                                             assign price_range_active = true
                                             assign price_range_values = filter.values
                                             assign price_range_active_values = filter.active_values
                                        -%}
                                        {% else %}
                                             <filter-option class="filter-option open js-filter" data-index="{{ forloop.index }}" style="display: flex;">
                                                  <div class="filter-title">
                                                       <div class="title-remove">
                                                            {% if filter.active_values.size > 0 %}
                                                                 <facet-remove>
                                                                      <a href="{{ filter.url_to_remove }}" class="facets__reset">
                                                                           <i class="mdi mdi-close-circle" aria-hidden="true"></i>
                                                                      </a>
                                                                 </facet-remove>
                                                            {% endif %}
                                                            <span>{{ 'products.facets.shop_by' | t }} {{ filter.label | escape }}</span>
                                                       </div>
                                                       <button class="dropdown-label">
                                                            <i class="dropdown-label mdi mdi-menu-up"></i>
                                                       </button>
                                                  </div>
                                                  <ul class="filter-items">
                                                       {%- for value in filter.values -%}
                                                            <li class="list-menu__item facets__item">
                                                                 <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                                                      <input type="radio"
                                                                           name="{{ value.param_name }}"
                                                                           value="{{ value.value }}"
                                                                           id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                                           {% if value.active %}checked{% endif %}
                                                                           {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                                      > 
                                        
                                                                      {{ value.label | escape }} ({{ value.count }})
                                                                 </label>
                                                            </li>
                                                       {% endfor %}
                                                  </ul>
                                             </filter-option open>
                                        {% endif %}
                                   {% when 'price_range' %}
                                        {% liquid
                                             assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                             assign uses_comma_decimals = false
                                             if currencies_using_comma_decimals contains cart.currency.iso_code
                                             assign uses_comma_decimals = true
                                             endif
                                        %}
                                        <filter-option class="filter-option open js-filter" data-index="{{ forloop.index }}" style="display: flex;">
                                             <div class="filter-title">
                                                  <div class="title-remove">
                                                       {% if filter.active_values.size > 0 or price_range_active_values.size > 0 %}
                                                            {% liquid
                                                                 assign price_reset_params = ''
                                                                 assign count = 0
               
                                                                 for string in queryParams
                                                                      unless string contains 'filter.p.m.prod_info.price_range' or string contains 'filter.v.price.gte' or string contains 'filter.v.price.lte'
                                                                           if count == 0
                                                                                assign price_reset_params = price_reset_params | append: '?' | append: string
                                                                           else 
                                                                                assign price_reset_params = price_reset_params | append: '&' | append: string
                                                                           endif
                                                                           assign count = count | plus: 1
                                                                      endunless
                                                                 endfor
                                                            %}
                                                            <facet-remove>
                                                                 <a href="{{ results.url }}{{ price_reset_params }}" class="facets__reset">
                                                                      <i class="mdi mdi-close-circle" aria-hidden="true"></i>
                                                                 </a>
                                                            </facet-remove>
                                                       {% endif %}
                                                       <span>{{ 'products.facets.shop_by' | t }} {{ filter.label | escape }}</span>
                                                  </div>
                                                  <button class="dropdown-label">
                                                       <i class="dropdown-label mdi mdi-menu-up"></i>
                                                  </button>
                                             </div>

                                             <div class="price-filters">
                                                  {% if price_range_active %}
                                                       <price-tags class="price-tags">
                                                            <ul class="filter-items price-range">
                                                                 {%- for v in price_range_values -%}
                                                                      <li class="list-menu__item facets__item" data-index="{{ v.value | remove: ' ' | remove: '$' | split: 'to' | first }}">
                                                                           <label for="Filter-{{ v.value | remove: ' ' | remove: '$' }}-{{ forloop.index }}" class="facet-checkbox{% if v.count == 0 and v.active == false %} facet-checkbox--disabled{% endif %}">
                                                                                <input type="radio"
                                                                                name="{{ v.param_name }}"
                                                                                value="{{ v.value }}"
                                                                                id="Filter-{{ v.value | remove: ' ' | remove: '$' }}-{{ forloop.index }}"
                                                                                {% if v.active %}checked{% endif %}
                                                                                {% if v.count == 0 and v.active == false %}disabled{% endif %}
                                                                                >
                                                  
                                                                                {{ v.label | escape }} ({{ v.count }})
                                                                           </label>
                                                                      </li>
                                                                 {% endfor %}
                                                            </ul>
                                                       </price-tags>
                                                  {% endif %}
                                                  <price-range class="facets__price">
                                                       <span class="field-currency">{{ cart.currency.symbol }}</span>
                                                       <div class="field">
                                                            <input class="field__input price-filter"
                                                                 name="{{ filter.min_value.param_name }}"
                                                                 id="Filter-{{ filter.label | escape }}-GTE"
                                                                 {%- if filter.min_value.value -%}
                                                                 {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                                                 {%- endif -%}
                                                                 type="number"
                                                                 placeholder="0"
                                                                 min="0"
                                                                 {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                                                            >
                                                            <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                                                       </div>
                                                       <span class="field-currency">{{ cart.currency.symbol }}</span>
                                                       <div class="field">
                                                            <input class="field__input price-filter"
                                                                 name="{{ filter.max_value.param_name }}"
                                                                 id="Filter-{{ filter.label | escape }}-LTE"
                                                                 {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                                                 {%- endif -%}
                                                                 type="number"
                                                                 min="0"
                                                                 {%- if uses_comma_decimals -%}
                                                                 placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                                 max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                                 {%- else -%}
                                                                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                 max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                 {% endif %}
                                                            >
                                                            <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                                                       </div>
                                                  </price-range>
                                             </div>
                                        </filter-option open>
                              {% endcase %}
                         {%- endunless -%}
                    {%- endfor -%}

                    <noscript>
                         <button type="submit" class="facets__button-no-js button button--tertiary">{{ 'products.facets.filter_button' | t }}</button>
                    </noscript>

                    
                    {% if section.settings.enable_category and linklists[category_list].links.size > 0 %}
                         {% unless has_filters %}
                              <filter-option open class="filter-option open" style="display: flex;">
                                   <div class="filter-title">
                                        <span>{{ category_title }}</span>
                                        <button class="dropdown-label">
                                             <i class="dropdown-label mdi mdi-menu-up"></i>
                                        </button>
                                   </div>
                                   <ul class="filter-items parent-cat">
                                        {% for link in linklists[category_list].links %}
                                             {% assign child_list_handle = link.title | split: '[' | first | handleize %}
                                             {% if link and link.links != blank %}
                                                  <li>
                                                       <category-dropdown class="cat-item cat-parent first">
                                                            <div class="cat-title" data-child="{{ child_list_handle }}">
                                                                 <a href="javascript:void(0);" class="category-link cat-sc-toggle {% if link.active or link.child_active %}disabled{% endif %}">
                                                                      {{ link.title | split: '[' | first | escape }}
                                                                 </a>
                                                                 <span class="cat-menu-expand">+</span>
                                                            </div>
                                                            <ul id="{{ child_list_handle }}" class="children-cat cat-sc-toggle-content" style="display:none">
                                                                 {% for child_link in link.links %}
                                                                      {% assign child_list_handle = child_link.title | split: '[' | first | handleize %}
                                                                      {% if child_link and child_link.links != blank %}
                                                                      <li>
                                                                           <category-dropdown class="cat-item cat-parent first1">
                                                                                <div class="cat-title" data-child="{{ child_list_handle }}">
                                                                                     <a href="javascript:void(0);"
                                                                                          class="category-link cat-sc-toggle child-parent {% if link.active or child_link.active or child_link.child_active %}disabled{% endif %}">
                                                                                          {{ child_link.title | split: '[' | first | escape }} 
                                                                                     </a>
                                                                                     <span class="cat-menu-expand">+</span>
                                                                                </div>
                                                                                <ul id="{{ child_list_handle }}" class="children-cat cat-sc-toggle-content" style="display:none">
                                                                                     {% for child_link in child_link.links %}
                                                                                     <li><a class="category-link clickable{% if child_link.active %}disabled active{% endif %}" href="{{ child_link.url }}">{{ child_link.title | split: '[' | first | escape }} </a></li>
                                                                                     {% endfor %}
                                                                                </ul>
                                                                           </category-dropdown>
                                                                      </li>
                                                                      {% else %}
                                                                           <li class="cat-item cat-parent"><a href="{{ child_link.url }}">{{ child_link.title | split: '[' | first | escape }} </a></li>
                                                                      {% endif %}
                                                                 {% endfor %}
                                                            </ul>
                                                       </category-dropdown>
                                                  </li>
                                             {% else %}
                                                  <li class="cat-item cat-parent">
                                                       <i></i><a href="{{ link.url }}">{{ link.title | split: '[' | first | escape }} </a>
                                                  </li>
                                             {% endif %}
                                        {% endfor %}
                                   </ul>
                              </filter-option open>
                         {% endunless %}
                    {% endif %}
               </div>
          </form>
     </facet-filters-form>
</div>
