{% comment %}
     Renders a product card

     Accepts:
     - product_card_product: {Object} Product Liquid object (optional)
     - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square"
     (optional)
     - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
     - add_image_padding: {Boolean} Enables padding on the image to space out the grid
     - show_vendor: {Boolean} Show the product vendor. Default: false
     - show_image_outline: {Boolean} Show card outline. Default: true (optional)

     Usage:
     {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

<div class="card-wrapper">
     <div class="card-information">
          <div class="card-information__wrapper">
               <h3 class="card-information__text h5 title">
                    <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
                         {{ product_card_product.title | escape }}
                    </a>
               </h3>
               <div class="card-bottom">
                    <div class="variant-info">
                         {%- if show_vendor -%}
                              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                              <div class="product-info-text vendor">{{ product_card_product.vendor | link_to_vendor }}</div>
                         {%- endif -%}

                         {%- if show_partnumber -%}
                              {%- assign current_variant = product_card_product.selected_or_first_available_variant -%}
                              <span class="visually-hidden">{{ 'accessibility.part_number' | t }}</span>
                              <div class="product-info-text partnumber">{{ current_variant.sku }}</div>
                         {%- endif -%}
                    </div>

                    {% render 'price', product: product_card_product, price_class: 'price--center' %}

                    <div class="card-add_to_cart">
                         {% if product_card_product.available %}
                              <div class="pro_btn add_tocart">
                                   <form action="/cart/add" method="post"
                                        class="variants clearfix cart-form-{{ product_card_product.id }}">
                                        <input type="hidden" name="id" value="{{ product_card_product.variants[0].id }}" />
                                        <a class="add-cart-btn btn" title="{{ 'products.product.add_to_cart' | t }}">
                                             <span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                                        </a>
                                   </form>
                              </div>
                         {% else %}
                              <div class="pro_btn add_tocart btn-soldout">
                                   <a class="add-cart-btn btn add-to-cart-disable" title="{{ 'products.product.sold_out' | t }}">
                                        <span class="add_cart">{{ 'products.product.sold_out' | t }}</span>
                                   </a>
                              </div>
                         {% endif %}

                         {%- if show_availability -%}
                              {% assign quantity = product_card_product.selected_or_first_available_variant.inventory_quantity %}
                              <div class="availability">
                                   {% if product_card_product.available %}
                                        {% if show_availability_limit == 0 %}
                                             {{ 'products.product.availability' | t: quantity: quantity }}
                                        {% elsif quantity <= show_availability_limit %}
                                             {{ 'products.product.availability' | t: quantity: quantity }}
                                        {% else %}
                                             &nbsp;
                                        {% endif %}
                                   {% else %}
                                        &nbsp;
                                   {% endif %}
                              </div>
                         {%- endif -%}
                    </div>
               </div>
          </div>
     </div>

     <div class="card card--product{% if product_card_product.featured_media == nil %} card--text-only card--soft{% endif %}{% if product_card_product.featured_media != nil and show_image_outline %} card--outline{% endif %}" tabindex="-1">
          <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
               <div class="card__inner">
                    {%- if product_card_product.featured_media -%}
                         {%- liquid
                              assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

                              if product_card_product.featured_media.aspect_ratio == nil
                                   assign featured_media_aspect_ratio = 1
                              endif
                         -%}

                         <div{% if add_image_padding %} class="card__media-full-spacer" {% endif %}>
                              <div class="media media--transparent media--{{ media_size }} media--hover-effect"
                              {% if media_size == 'adapt' and product_card_product.featured_media %}
                              style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                              {% endif %}>
                                   <img srcset="{%- if product_card_product.featured_media.width >= 165 -%}{{ product_card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                                   {%- if product_card_product.featured_media.width >= 360 -%}{{ product_card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                                   {%- if product_card_product.featured_media.width >= 533 -%}{{ product_card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                                   {%- if product_card_product.featured_media.width >= 720 -%}{{ product_card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                                   {%- if product_card_product.featured_media.width >= 940 -%}{{ product_card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                                   {%- if product_card_product.featured_media.width >= 1066 -%}{{ product_card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                                   {{ product_card_product.featured_media | img_url: 'master' }} {{ product_card_product.featured_media.width }}w"
                                   src="{{ product_card_product.featured_media | img_url: '533x' }}"
                                   sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                   alt="{{ product_card_product.featured_media.alt | escape }}" loading="lazy"
                                   class="motion-reduce" width="{{ product_card_product.featured_media.width }}"
                                   height="{{ product_card_product.featured_media.height }}">
                              </div>
                         </div>
                    {%- else -%}
                         <div{% if add_image_padding %} class="card__media-full-spacer" {% endif %}>
                              <div class="media media--transparent media--{{ media_size }} media--hover-effect"
                              {% if media_size == 'adapt' and product_card_product.featured_media %}
                              style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
                              {% endif %}>
                                   <img 
                                   src="{{ 'product_placeholder.png' | asset_img_url: 'master' }}"
                                   alt="{{ product_card_product.featured_media.alt | escape }}" loading="lazy"
                                   class="motion-reduce">
                              </div>
                         </div>
                    {%- endif -%}
               </div>
          </a>
     </div>
</div>