{{ 'section-about-us.css' | asset_url | stylesheet_tag }}

<div class="about-header">
     <h1 class="about-title">
          {{ shop.name | upcase }}
     </h1>
     <h2 class="about-slogan">
          {{ 'about.slogan' | t  | upcase }}
     </h2>
     <div class="about-breadcrumb">
          <a href="{{ routes.root_url }}">
               <i class="mdi mdi-home"></i>
               <span>{{ 'breadcrumb.home_link_title' | t | upcase }}</span>
          </a>
          <i class="mdi mdi-chevron-right"></i>
          <span>{{ 'about.title' | t | upcase }}</span>
     </div>
</div>

<div class="about-us">
     {%- if section.settings.show_about_img -%}
          <div class="about-logo">
               <img src="{{ section.settings.about_img | img_url }}" loading='lazy'>
          </div>
     {%- endif -%}
     <div class="page-content about-information">
          <h2>{{ 'about.title' | t }}</h2>
          <p>{{ section.settings.about_description }}</p>
     </div>
</div>

{%- if section.blocks != blank -%}
     <div class="about-stats">
          <div class="page-content">
               {%- for block in section.blocks -%}
                    <about-counter class="stat" data-count="{{ block.settings.number }}" data-plus="{{ block.settings.show_plus }}">
                         <span class="stat-number">
                              0
                         </span>
                         <span class="stat-title">
                              {{ block.settings.title }}
                         </span>
                    </about-counter>
               {%- endfor -%}
          </div>
     </div>
{%- endif -%}

<style>
     .about-header {
          background: url('{{ section.settings.header_bg | img_url: "master" }}') bottom 79% left no-repeat transparent;
          background-size: cover;
          background-blend-mode: multiply;
          background-color: {{ section.settings.overlay_color }};

          color: {{ section.settings.header_txt_color }};
     }
</style>

{% javascript %}
     class AboutCounter extends HTMLElement {
          constructor() {
               super();

               this.initialized = false;

               this.init = this.init || this.init.bind(this);
               this.animate = this.animate || this.animate.bind(this);
               this.onScroll = this.onScroll || this.onScroll.bind(this);
               this.value = +this.dataset.count || 0;
               this.showPlus = this.dataset.plus;

               this.numElement = this.querySelector('.stat-number');

               if (this.isInView()) {
                    this.init();
               } else {
                    document.addEventListener('scroll', this.onScroll);
               }
          }

          onScroll = () => {
               if (!this.isInView() || this.initialized) return;

               this.init();
          }

          animate = () => {
               const data = +this.numElement.innerText.replace(',', '');

               const time = this.value / 100;
               if (data < this.value) {
                    this.numElement.innerText = formatNumber(Math.ceil(data + time));
                    setTimeout(this.animate, 1);
               } else {
                    this.numElement.innerText = formatNumber(this.value) + ((this.showPlus === 'true') ? '+' : '');
               }
          }

          init = () => {
               if (!this.isInView() || this.initialized) return;

               this.initialized = true;
               this.animate();
               document.removeEventListener('scroll', this.onScroll);
          }
     }

     customElements.define('about-counter', AboutCounter);
{% endjavascript %}

{% schema %}
     {
          "name": "About Us",
          "class": "about-section",
          "settings": [
               {
                    "type": "image_picker",
                    "id": "header_bg",
                    "label": "Header Background"
               },
               {
                    "type": "checkbox",
                    "id": "show_about_img",
                    "label": "Show About Image?",
                    "default": true
               },
               {
                    "type": "image_picker",
                    "id": "about_img",
                    "label": "About Image"
               },
               {
                    "type": "richtext",
                    "id": "about_description",
                    "label": "Description"
               },
               {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Header Overlay Color",
                    "default": "#fff"
               },
               {
                    "type": "color",
                    "id": "header_txt_color",
                    "label": "Header Text Color",
                    "default": "#fff"
               }
          ],
          "blocks": [
               {
                    "type": "about_statistic",
                    "name": "Statistic",
                    "settings": [
                         {
                              "type": "text",
                              "id": "title",
                              "label": "Title"
                         },
                         {
                              "type": "text",
                              "id": "number",
                              "label": "Number"
                         },
                         {
                              "type": "checkbox",
                              "id": "show_plus",
                              "label": "Show Plus?",
                              "default": true
                         }
                    ]
               }
          ],
          "presets": [
               {
                    "name": "About Us",
                    "blocks": [

                    ]
               }
          ]
     }
{% endschema %}