{{ 'section-register.css' | asset_url | stylesheet_tag }}

<div class="page-content-wrapper">
     <div class="register-wrapper">
          <div class="page-content register-pane">
               <h2>{{ 'customer.register.title' | t }}</h2>
               <p>{{ 'customer.register.new_customer_message_short' | t }}</p>
               {% form 'create_customer' %}
                    <div class="field">
                         <label for="RegisterForm-FirstName" class="hidden">{{ 'customer.register.first_name' | t }}</label>
                         <input type="text" name="customer[first_name]" id="RegisterForm-FirstName" {% if form.first_name %}value="{{ form.first_name }}" {% endif %} autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}" required/>
                    </div>

                    <div class="field">
                         <label for="RegisterForm-LastName" class="hidden">{{ 'customer.register.last_name' | t }}</label>
                         <input type="text" name="customer[last_name]" id="RegisterForm-LastName" {% if form.last_name
                              %}value="{{ form.last_name }}" {% endif %} autocomplete="family-name"
                              placeholder="{{ 'customer.register.last_name' | t }}" required/>
                    </div>

                    <div class="field">
                         <label for="RegisterForm-email" class="hidden">{{ 'customer.register.email' | t }}</label>
                         <input type="email" name="customer[email]" id="RegisterForm-email" {% if form.email %} value="{{ form.email }}" {% endif %} spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" {% if form.errors contains 'email' %}  aria-invalid="true" aria-describedby="RegisterForm-email-error" {% endif %} placeholder="{{ 'customer.register.email' | t }}" required/>
                         {%- if form.errors contains 'email' -%}
                              <span id="RegisterForm-email-error" class="form__message">
                                   {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
                              </span>
                         {%- endif -%}
                    </div>

                    <div class="field">
                         <label for="RegisterForm-password" class="hidden">{{ 'customer.register.password' | t }}</label>
                         <input type="password" name="customer[password]" id="RegisterForm-password" aria-required="true" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="RegisterForm-password-error" {% endif %} placeholder="{{ 'customer.register.password' | t }}" required/>

                         {%- if form.errors contains 'password' -%}
                              <span id="RegisterForm-password-error" class="form__message">
                                   {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
                              </span>
                         {%- endif -%}
                    </div>

                    <div class="field">
                         <label for="password_confirmation" class="hidden">{{ 'customer.register.confirm_password' | t }}</label>
                         <input type="password" value="" name="customer[password_confirmation]" size="16" placeholder="{{ 'customer.register.confirm_password' | t }}" required/>
                    </div>

                    <div class="checkbox">
                         <input type="checkbox" name="terms" required />
                         <label for="terms">{{ 'customer.register.terms_agreement' | t }} <a href="/pages/terms-of-service">{{ 'customer.register.terms_of_service' | t }}</a> & <a href="/pages/privacy-policy">{{ 'customer.register.privacy_policy' | t }}</a>.</label>
                    </div>

                    <div class="form-submit-center">
                         <button type="submit" class="btn">{{ 'customer.register.submit' | t }}</button>
                    </div>

                    <a class="goto-login" href="{{ routes.account_login_url }}">{{ 'customer.register.already_account' | t }}</a>

               {% endform %}
          </div>
     </div>
</div>

{% schema %}
{
     "name": "Account Register",
     "class": "page-content register-section",
     "settings": [

     ],
     "blocks": [

     ],
     "presets": [
          {
               "name": "Account Register",
               "category": "Text"
          }
     ]
}
{% endschema %}