{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer-wrapper">
     <div class="footer-main">
          <div class="container animate__animated animate__slideInUp">
               {% for block in section.blocks %}
                    <footer-dropdown class="footer-block {{ block.type }} dropdown laptop-dropdown" data-dropdown='closed'>
                         {% case block.type %}
                              {% when 'about_column' %}
                                   <h1 class="">{{ shop.name }}</h1>
                                   <ul class="footer-list">
                                        <li>
                                             <i class="mdi mdi-email-outline"></i>
                                             <span class="email-address">
                                                  <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                                             </span>
                                        </li>
                                        <li>
                                             <i class="mdi mdi-phone"></i>
                                             <span class="phone">
                                                  <a href="tel:{{ shop.phone }}">
                                                       {{ shop.phone }}
                                                  </a>
                                             </span>
                                        </li>
                                        <li>
                                             <i class="mdi mdi-web"></i>
                                             <span class="online-support">
                                                  <a href="{{ block.settings.contact_page.url }}">{{ 'sections.footer.support' | t | capitalize }}</a>
                                             </span>
                                        </li>
                                   </ul>
                              {% when 'link_list' %}
                                   {% if linklists[block.settings.list].links != blank %}
                                        <h1 class="">{{ block.settings.title }}</h1>
                                        <ul class="footer-list">
                                             <li>
                                                  {% for link in linklists[block.settings.list].links %}
                                                       <li class="{% if link.active %}active{% endif %}">
                                                            <a href="{{ link.url }}">
                                                                 {{ link.title }}
                                                            </a>
                                                       </li>
                                                  {% endfor %}
                                             </li>
                                        </ul>
                                   {% endif %}
                              {% when 'customer_list' %}
                                   <h1 class="">{{ block.settings.title }}</h1>
                                   <ul class="footer-list">
                                        {% if customer %}
                                             {% for link in linklists[block.settings.loggedin_list].links %}
                                                  <li class="{% if link.active %}active{% endif %}">
                                                       <a href="{{ link.url }}">
                                                            {{ link.title }}
                                                       </a>
                                                  </li>
                                             {% endfor %}
                                        {% else %}
                                             {% for link in linklists[block.settings.loggedout_list].links %}
                                                  <li class="{% if link.active %}active{% endif %}">
                                                       <a href="{{ link.url }}">
                                                            {{ link.title }}
                                                       </a>
                                                  </li>
                                             {% endfor %}
                                        {% endif %}
                                   </ul>
                              {% when 'confidence_column' %}
                                   <h1 class="">{{ block.settings.title }}</h1>
                                   <ul class="footer-list">
                                        {% if shop.enabled_payment_types != blank %}
                                             <li>
                                                  <ul class="payment_types">
                                                       {%- for type in shop.enabled_payment_types -%}
                                                            <li class="payment_type">
                                                                 {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                                                            </li>
                                                       {%- endfor -%}
                                                  </ul>
                                             </li>
                                        {% endif %}

                                        {% if block.settings.show_secure %}
                                             <li>
                                                  <a href="https://www.shopify.com/security/pci-compliant?utm_medium=shop&utm_source=secure" title="This online store is secured by Shopify" target="_blank" rel="nofollow">
                                                       <img src="https://cdn.shopify.com/s/images/badges/shopify-secure-badge-white.svg" alt="Shopify secure badge">
                                                  </a>
                                             </li>
                                        {% endif %}
                                   </ul>
                              {% else %}

                         {% endcase %}
                    </footer-dropdown>
               {% endfor %}
          </div>
     </div>

     {% render 'footer-bottom' %}
</footer>

{% javascript %}
class MobileCollapseFooter extends HTMLElement {
     constructor() {
          super();

          this.open = false;
          this.dropdown = false;

          this.elements = {
               list: this.querySelector('.footer-list'),
               header: this.querySelector('h1')
          }

          this.initDropdown();

          window.addEventListener('resize', this.resize.bind(this));

          this.initDropdown = this.initDropdown || this.initDropdown.bind(this);
          this.rmDropdown = this.rmDropdown || this.rmDropdown.bind(this);
          this.resize = this.resize || this.resize.bind(this);

          this.toggle = this.toggle || this.toggle.bind(this);
     }

     initDropdown = () => {
          //Prevent doing anything on the full screened windows.
          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop) {
               this.open = true;
               return;
          }

          //Initialize Collapsed
          this.open = false;
          this.dropdown = true;

          this.elements.list.style.display = "none";
          this.elements.list.classList.add('dropdown-list');

          //Add clicker event on the header.
          this.elements.header.classList.add('dropdown-clicker')

          this.elements.header.addEventListener('click', this.toggle);

          return;
     }

     rmDropdown = () => {
          this.open = true;
          this.dropdown = false;

          this.elements.list.style.display = "flex";

          this.elements.header.removeEventListener('click', this.toggle);

          if (this.elements.header.classList.contains('dropdown-clicker')) {
               this.elements.header.classList.remove('dropdown-clicker');
          }

          if (this.elements.list.classList.contains('dropdown-list')) {
               this.elements.list.classList.remove('dropdown-list');
          }

          return;
     }

     toggle = () => {
          $(this.elements.list).slideToggle();
          this.open = (this.open ? false : true);

          return;
     }

     resize = () => {
          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop && this.dropdown == false) {
               return;
          }

          if (this.classList.contains("laptop-dropdown") && window.innerWidth <= window.screenBreaks.laptop && this.dropdown == true) {
               return;
          }

          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop && this.dropdown == true) {
               this.rmDropdown();

               return;
          } else if (this.classList.contains("laptop-dropdown") && window.innerWidth <= window.screenBreaks.laptop && this.dropdown == false) {
               this.initDropdown();

               return;
          }
     }
}

customElements.define('footer-dropdown', MobileCollapseFooter);
{% endjavascript %}

<style>
     .footer-main {
          background-color: {{ section.settings.main_bg_color }};
          color: {{ section.settings.main_txt_color }};
     }
     .footer-block > h1 {
          color: {{ section.settings.main_txt_color }};
     }
     .footer-bottom {
          background-color: {{ section.settings.btm_bg_color }};
          color: {{ section.settings.btm_txt_color }};
     }

     .social-icons > li > a.btn {
          background-color: {{ section.settings.btm_social_color }};
     }

     .social-icons > li > a.btn:hover {
          background-color: {{ section.settings.btm_social_hvr_color }};
     }
</style>

{% schema %}
{
     "name": "Footer",
     "settings": [
          {
               "type": "header",
               "content": "Main Footer"
          },
          {
               "type": "color",
               "id": "main_bg_color",
               "label": "Background Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "main_txt_color",
               "label": "Text Color",
               "default": "#fff"
          },
          {
               "type": "header",
               "content": "Bottom Footer"
          },
          {
               "type": "color",
               "id": "btm_bg_color",
               "label": "Background Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "btm_txt_color",
               "label": "Text Color",
               "default": "#fff"
          },
          {
               "type": "color",
               "id": "btm_social_color",
               "label": "Social Button Color",
               "default": "#3c3c3f"
          },
          {
               "type": "color",
               "id": "btm_social_hvr_color",
               "label": "Social Button Hover Color",
               "default": "#CC0000"
          }
     ],
     "blocks": [
          {
               "type": "about_column",
               "name": "About Column",
               "settings": [
                    {
                         "type": "page",
                         "id": "contact_page",
                         "label": "Contact Page"
                    }
               ]
          },
          {
               "type": "link_list",
               "name": "Link Column",
               "settings": [
                    {
                         "type": "text",
                         "id": "title",
                         "label": "Title"
                    },
                    {
                         "type": "link_list",
                         "id": "list",
                         "label": "List"
                    }
               ]
          },
          {
               "type": "customer_list",
               "name": "Customer Link Column",
               "settings": [
                    {
                         "type": "text",
                         "id": "title",
                         "label": "Title"
                    },
                    {
                         "type": "link_list",
                         "id": "loggedin_list",
                         "label": "Logged In List"
                    },
                    {
                         "type": "link_list",
                         "id": "loggedout_list",
                         "label": "Logged Out List"
                    }
               ]
          },
          {
               "type": "confidence_column",
               "name": "Confidence Column",
               "settings": [
                    {
                         "type": "text",
                         "id": "title",
                         "label": "Title"
                    },
                    {
                         "type": "checkbox",
                         "id": "show_secure",
                         "label": "Show Shopify Secure?"
                    }
               ]
          }
     ]
}
{% endschema %}