<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
     <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
     <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
               d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
               fill="currentColor" />
     </symbol>

     <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
          <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
               fill="currentColor">
     </symbol>
</svg>

<header class="main-header" id="main-header" data-section-id="{{ section.id }}" data-section-type="header">
     <div class="site-header">
          <div class="site-top-header">
               <div class="main-header container">
                    <div class="header-left">
                         {% render 'logo', logoSize: '300x' %}
                    </div>

                    <div class="header-center">
                         <div class="header-phone">
                              <span class="header-text">{{ shop.phone }}</span>
                         </div>

                         <div class="header-info">
                              <span class="header-text">{{ section.settings.header_text }}</span>
                         </div>
                    </div>

                    <div class="header-right">
                         {% render 'header-info-buttons' %}

                         <div class="header-search">
                              {% render 'search-bar' %}
                         </div>
                    </div>
               </div>
          </div>

          <nav class="header-nav">
               {% render 'header-nav', navMenu: section.settings.menu.links %}
               <hr/>
          </nav>
     </div>

     {% include 'header-mobile' %}

     {% if settings.sticky_header_enabled %}
          {% include 'header-sticky' %}
     {% endif %}
</header>


<style>
     .site-top-header > .main-header .header-account {
          background: {{ section.settings.account_clr }};
          border-bottom: 10px solid {{ section.settings.account_accent_clr }};
     }
     .site-top-header > .main-header .header-account:hover {
          background: {{ section.settings.account_accent_clr }};
     }

     .site-top-header > .main-header .header-cart {
          background: {{ section.settings.cart_clr }};
          border-bottom: 10px solid {{ section.settings.cart_accent_clr }};
     }
     .site-top-header > .main-header .header-cart:hover {
          background: {{ section.settings.cart_accent_clr }};
     }

     .site-top-header > .main-header .info-buttons a .account-heading,
     .site-top-header > .main-header .info-buttons a .cart-heading,
     .site-top-header > .main-header > .header-right .header-btn-icon > i {
          color: {{ section.settings.text_clr }};
     }

     .header-nav {
          background-color: {{ section.settings.nav_bg_color }};
     }

     .site-nav > .site-nav-item.active, .site-nav > .site-nav-item:hover {
          background-color: {{ section.settings.nav_btn_hvr_color }};

          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
     }

     .site-nav > .site-nav-item {
          background-color: {{ section.settings.nav_btn_color }};

          border: 1px solid {{ section.settings.nav_btn_border_color }};
          color: {{ section.settings.nav_txt_color }};

          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
     }
     .header-nav > hr {
          border-top: 2px solid {{ section.settings.nav_line_color }};
     }
</style>

{% schema %}
{
     "name": "t:sections.header.name",
     "settings": [
          {
               "type": "text",
               "id": "header_text",
               "label": "Header text",
               "default": "Same Day Shipping"
          },
          {
               "type": "image_picker",
               "id": "logo",
               "label": "t:sections.header.settings.logo.label"
          },
          {
               "type": "select",
               "id": "logo_position",
               "options": [
                    {
                         "value": "middle-left",
                         "label": "t:sections.header.settings.logo_position.options__1.label"
                    }, {
                         "value": "top-left",
                         "label": "t:sections.header.settings.logo_position.options__2.label"
                    }, {
                         "value": "top-center",
                         "label": "t:sections.header.settings.logo_position.options__3.label"
                    }
               ],
               "default": "middle-left",
               "label": "t:sections.header.settings.logo_position.label"
          }, {
               "type": "link_list",
               "id": "menu",
               "default": "main-menu",
               "label": "t:sections.header.settings.menu.label"
          }, {
               "type": "link_list",
               "id": "cat-menu",
               "default": "main-menu",
               "label": "Category Menu"
          }, {
               "type": "checkbox",
               "id": "show_line_separator",
               "default": true,
               "label": "t:sections.header.settings.show_line_separator.label"
          }, {
               "type": "checkbox",
               "id": "enable_sticky_header",
               "default": true,
               "label": "t:sections.header.settings.enable_sticky_header.label",
               "info": "t:sections.header.settings.enable_sticky_header.info"
          },
          {
               "type": "header",
               "content": "Header Colors"
          },
          {
               "type": "color",
               "id": "account_clr",
               "label": "Account Button Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "account_accent_clr",
               "label": "Account Button Accent Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "cart_clr",
               "label": "Cart Button Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "cart_accent_clr",
               "label": "Cart Button Accent Color",
               "default": "#111"
          },
          {
               "type": "color",
               "id": "text_clr",
               "label": "Text Color",
               "default": "#fff"
          },
          {
               "type": "header",
               "content": "Header Navigation"
          },
          {
               "type": "color",
               "id": "nav_bg_color",
               "label": "Nav Background Color",
               "default": "#ec0000"
          },
          {
               "type": "color",
               "id": "nav_txt_color",
               "label": "Nav Button Text Color",
               "default": "#fff"
          },
          {
               "type": "color",
               "id": "nav_btn_color",
               "label": "Nav Button Color",
               "default": "#1a1a1a"
          },
          {
               "type": "color",
               "id": "nav_btn_hvr_color",
               "label": "Nav Button Hover Color",
               "default": "#c00"
          },
          {
               "type": "color",
               "id": "nav_btn_border_color",
               "label": "Nav Button Border Color",
               "default": "#000"
          },
          {
               "type": "color",
               "id": "nav_line_color",
               "label": "Nav Line Color",
               "default": "#000"
          }
     ]
}

{% endschema %}
