{{ 'section-product-filter.css' | asset_url | stylesheet_tag }}

{{ 'component-facets.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

{%- liquid
          assign results = collection
          assign sort_by = results.sort_by | default: results.default_sort_by
          assign total_active_values = 0
     if results.url
          assign results_url = results.url
     else 
          assign terms = results.terms | escape
          assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
     endif
-%}


<div class="filter-wrapper page-content facets-container">
     <facet-filters-form class="facets small-hide">
          <form id="FacetFiltersForm" class="">
               {%- if results.terms -%}
                    <input type="hidden" name="q" value="{{ results.terms | escape }}">
                    <input name="options[prefix]" type="hidden" value="last">
               {%- endif -%}

               {% if results.current_vendor or results.current_type %}
                    <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
               {% endif %}

               {% if section.settings.enable_filtering %}
                    <div id="FacetsWrapperDesktop" class="filter-option-wrapper">
                         <div class="active-facets active-facets-desktop">
                              {%- for filter in results.filters -%}
                                   {%- for value in filter.active_values -%}
                                   <facet-remove>
                                        <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                                             <span class="active-facets__button-inner button button--tertiary">
                                                  {{ value.label | escape }}
                                                  {% render 'icon-close-small' %}
                                                  <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                                             </span>
                                        </a>
                                   </facet-remove>
                                   {%- endfor -%}
                                   {% if filter.type == "price_range" %}
                                        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                                             <facet-remove>
                                                  <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                                                       <span class="active-facets__button-inner button button--tertiary">
                                                       {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                                                       {% render 'icon-close-small' %}
                                                       <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                                                       </span>
                                                  </a>
                                             </facet-remove>
                                        {%- endif -%}
                                   {% endif %}
                              {%- endfor -%}
                              <facet-remove class="active-facets__button-wrapper">
                                   <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                                        <span>{{ 'products.facets.clear_all' | t }}</span>
                                   </a>
                              </facet-remove>
                         </div>
                         
                         {%- for filter in results.filters -%}
                              {%- unless filter.values.size <= 1 -%}
                                   {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                                   {% case filter.type %}
                                        {% when 'list' %}
                                             <filter-dropdown class="filter-option js-filter" data-index="{{ forloop.index }}">
                                                  <div class="filter-title">
                                                       <span>{{ 'general.filter.shop_by' | t }} {{ filter.label | escape }}</span>
                                                       <facet-remove>
                                                            <a href="{{ filter.url_to_remove }}" class="facets__reset">
                                                                 <i class="mdi mdi-close-circle" aria-hidden="true"></i>
                                                            </a>
                                                       </facet-remove>
                                                  </div>
                                                  <ul class="filter-items">
                                                       {%- for value in filter.values -%}
                                                            <li class="list-menu__item facets__item">
                                                                 <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                                                      <input type="checkbox"
                                                                      name="{{ value.param_name }}"
                                                                      value="{{ value.value }}"
                                                                      id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                                                      {% if value.active %}checked{% endif %}
                                                                      {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                                      >
                                        
                                                                      <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                                      <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                                      </svg>
                                        
                                                                      <svg class="icon icon-checkmark"
                                                                      width="1.1rem"
                                                                      height="0.7rem"
                                                                      viewBox="0 0 11 7"
                                                                      fill="none"
                                                                      xmlns="http://www.w3.org/2000/svg">
                                        
                                                                      <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                                                      stroke="currentColor"
                                                                      stroke-width="1.75"
                                                                      stroke-linecap="round"
                                                                      stroke-linejoin="round" />
                                                                      </svg>
                                        
                                                                      {{ value.label | escape }} ({{ value.count }})
                                                                 </label>
                                                            </li>
                                                       {% endfor %}
                                                  </ul>
                                             </filter-dropdown>
                                        {% when 'price_range' %}
                                             {% liquid
                                                  assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                                  assign uses_comma_decimals = false
                                                  if currencies_using_comma_decimals contains cart.currency.iso_code
                                                  assign uses_comma_decimals = true
                                                  endif
                                             %}
                                             <filter-dropdown class="filter-option js-filter" data-index="{{ forloop.index }}">
                                                  <div class="filter-title">
                                                       <span>{{ 'general.filter.shop_by' | t }} {{ filter.label | escape }}</span>
                                                       <facet-remove>
                                                            <a href="{{ results_url }}" class="facets__reset">
                                                                 <i class="mdi mdi-close-circle" aria-hidden="true"></i>
                                                            </a>
                                                       </facet-remove>
                                                  </div>
                                                  <div class="filter-items">
                                                       <!-- TODO: ADD PRICE RANGE TAGS -->

                                                       <price-range class="facets__price">
                                                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                                                            <div class="field">
                                                                 <input class="field__input"
                                                                      name="{{ filter.min_value.param_name }}"
                                                                      id="Filter-{{ filter.label | escape }}-GTE"
                                                                      {%- if filter.min_value.value -%}
                                                                      {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                                                      {%- endif -%}
                                                                      type="number"
                                                                      placeholder="0"
                                                                      min="0"
                                                                      {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                                                                 >
                                                                 <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                                                            </div>
                                                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                                                            <div class="field">
                                                                 <input class="field__input"
                                                                      name="{{ filter.max_value.param_name }}"
                                                                      id="Filter-{{ filter.label | escape }}-LTE"
                                                                      {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                                                      {%- endif -%}
                                                                      type="number"
                                                                      min="0"
                                                                      {%- if uses_comma_decimals -%}
                                                                      placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                                                      {%- else -%}
                                                                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                                      {% endif %}
                                                                 >
                                                                 <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                                                            </div>
                                                       </price-range>
                                                  </div>
                                             </filter-dropdown>
                                   {% endcase %}
                              {%- endunless -%}
                         {%- endfor -%}

                         <noscript>
                              <button type="submit" class="facets__button-no-js button button--tertiary">{{ 'products.facets.filter_button' | t }}</button>
                         </noscript>
                         <div class="loading-overlay__spinner">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                              </svg>
                         </div>
                    </div>
               {% endif %}
                    <div class="loading-overlay__spinner">
                         <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                         <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                         </svg>
                    </div>
          </form>
     </facet-filters-form>
</div>

{% javascript %}
class FilterCollapse extends HTMLElement {
     constructor() {
          super();

          this.open = false;
          this.dropdown = false;

          this.elements = {
               list: this.querySelector('.footer-list'),
               header: this.querySelector('h1')
          }

          this.initDropdown();

          window.addEventListener('resize', this.resize.bind(this));

          this.initDropdown = this.initDropdown || this.initDropdown.bind(this);
          this.rmDropdown = this.rmDropdown || this.rmDropdown.bind(this);
          this.resize = this.resize || this.resize.bind(this);

          this.toggle = this.toggle || this.toggle.bind(this);
     }

     initDropdown = () => {
          //Prevent doing anything on the full screened windows.
          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop) {
               this.open = true;
               return;
          }

          //Initialize Collapsed
          this.open = false;
          this.dropdown = true;

          this.elements.list.style.display = "none";
          this.elements.list.classList.add('dropdown-list');

          //Add clicker event on the header.
          this.elements.header.classList.add('dropdown-clicker')

          this.elements.header.addEventListener('click', this.toggle);

          return;
     }

     rmDropdown = () => {
          this.open = true;
          this.dropdown = false;

          this.elements.list.style.display = "flex";

          this.elements.header.removeEventListener('click', this.toggle);

          if (this.elements.header.classList.contains('dropdown-clicker')) {
               this.elements.header.classList.remove('dropdown-clicker');
          }

          if (this.elements.list.classList.contains('dropdown-list')) {
               this.elements.list.classList.remove('dropdown-list');
          }

          return;
     }

     toggle = () => {
          $(this.elements.list).slideToggle();
          this.open = (this.open ? false : true);

          return;
     }

     resize = () => {
          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop && this.dropdown == false) {
               return;
          }

          if (this.classList.contains("laptop-dropdown") && window.innerWidth <= window.screenBreaks.laptop && this.dropdown == true) {
               return;
          }

          if (this.classList.contains("laptop-dropdown") && window.innerWidth > window.screenBreaks.laptop && this.dropdown == true) {
               this.rmDropdown();

               return;
          } else if (this.classList.contains("laptop-dropdown") && window.innerWidth <= window.screenBreaks.laptop && this.dropdown == false) {
               this.initDropdown();

               return;
          }
     }
}

customElements.define('filter-collapse', FilterCollapse);
{% endjavascript %}

{% schema %}
{
     "name": "main-collection-filter",
     "class": "main-filter",
     "settings": [
          {
               "type": "header",
               "content": "t:sections.main-collection-product-grid.settings.header__1.content"
          },
          {
               "type": "checkbox",
               "id": "enable_filtering",
               "default": true,
               "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
               "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
          },
          {
               "type": "checkbox",
               "id": "enable_sorting",
               "default": true,
               "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
          },
          {
               "type": "checkbox",
               "id": "collapse_on_larger_devices",
               "default": false,
               "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
          }
     ],
     "blocks": [
          {
               "name": "Filter by Price",
               "type": "filter"
          }
     ]
}
{% endschema %}
